@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-black: #292930;
  --main-border-clr: rgba(255, 255, 255, 0.08);
  --bg-border-clr: #292930;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-size: 0.625rem;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main-border {
  @apply border-2 border-[var(--main-border-clr)];
}

.tabs-buttons-border {
  @apply border-x-2 border-t-2 border-[var(--main-border-clr)] rounded-t-[0.8em];
}
